*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
   margin: 0;
   font-family: calibri;
}
.navbar-brand img
{
    height: 29px;
    width: 29px;
}

.text h4
{
    font-size: 80px;
    color: rgb(248, 240, 240);
    padding-top: 190px;
    text-align: center;
    text-transform: capitalize;
}
.text p
{
    font-size: 40px;
    color: rgb(235, 232, 232);
    padding-top: 10px;
    text-align: center;
}

.text a:link, a:visited {
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #8f6375e1;
    border-radius: 15px;
    font-size: 18px;
    margin-left: 600px;
    margin-top: 20px;
  }
  
.text a:hover, a:active {
    background-color: rgba(165, 11, 44, 0.918);
}
.row
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
.container
{
  padding-top: 50px 30px;
}

.container h2
{
   font-size: 30px;
   color: black;
   padding-top: 80px;
   font-family: calibri;
   font-weight: 30px;
}




footer
{
  background: #8f6375e1;
    margin-top: 94px;
    text-align: center;
    padding: 14px;
    color: #fff;
}
}